.navbar-brand img {
    max-width: 100px;
}


@media (min-width:992px) {
    .navbar-brand img {
        max-width: 180px;
    }
}


.navbar-sup-icon {
    height: 1.50em;
}

.bg-dark-venex {
    background-color: #37373f;
}




.help-center-header .with-color {
        color: #91c612;
}


.help-center-header {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.help-center-title {
    font-weight: bold;
}

.help-center-sub {
    font-size: 30px;
    text-align: center;
}


.container-little-padding {
    padding: 30px 0 30px 0 !important;
}

.container-little-padding {
    display: flex;
}






